<template name="ionTabs">
    <ion-tabs class="{{class}}">
        <div class="tab-nav tabs">
            {{#each tabs}}
                {{#ionTabNav
                    title=title
                    icon=icon
                    iconOn=iconOn
                    iconOff=iconOff
                    badge=badge
                    hidden=hidden
                    disabled=disabled
                    badgeStyle=badgeStyle
                    tabCtrl=tabCtrl
                    $tabScope=$tabScope
                }}{{/ionTabNav}}
            {{/each}}
        </div>
        {{> Template.contentBlock}}
    </ion-tabs>
</template>
