<template name="Install">
    <h2>Install</h2>

    <h4>Meteor Install</h4>

    <p class="flow-text">
        Before we begin, I assume that you have already installed and is familiar with Meteor stack. See
        <a href="http://guide.meteor.com/#quickstart">Meteor Quickstart</a> for more information.
    </p>

    <h4>Meteoric Install</h4>

    <p class="flow-text">
        In your project, simply:
    </p>

    <code class="flow-text">meteor add jandres:ionic</code>

    <p class="flow-text">
        That's it. meteoric is installed.
    </p>
</template>