<template name="layout">
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Meteoric {{meteoric_version}}</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="{{pathFor route='DocPageIndex'}}">Docs</a></li>
                    <li><a href="{{pathFor route='About'}}">About</a></li>
                </ul>
                <ul id="nav-mobile" class="left hide-on-large">
                    <a href="#" data-activates="slide-out" class="button-collapse">
                        <i class="material-icons">view_headline</i>
                    </a>
                </ul>

                {{> DocSideNav}}

                <script>
                    $(document).ready(function(){
                        $(".button-collapse").sideNav({
                            menuWidth: 300
                        });
                    });
                </script>
            </div>
        </nav>
    </header>
    <main>
        <div id="main-inner-wrapper" class="row container">
            {{> yield}}
        </div>
    </main>
</template>