@import "{poetic:materialize-scss}/sass/components/_color.scss";
@import "{poetic:materialize-scss}/sass/components/_variables.scss";

$sidenav-item-height: 32px;

@import "{poetic:materialize-scss}/sass/materialize.scss";

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
  a {
    color: #444444;
    @extend .truncate;
  }
}

.collapsible .collapsible {
  margin-left: 1em;
}

#main-inner-wrapper {
  padding-left: 10px;
}

.side-nav li.logo a {
  height: 300px;
  padding: 0px;

  #meteoric-sidebar-logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 20px;
  }
}