@import "../../node_modules/materialize-css/sass/components/_color.scss";
@import "../../node_modules/materialize-css/sass/components/_variables.scss";

$sidenav-item-height: 32px;

@import "../../node_modules/materialize-css/sass/materialize.scss";

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#meteoric-sidebar-logo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 20px;
}

.collapsible-body {
  display: block;
}